<launch>
  <!--launch the joystick-->
  <node pkg="joy" type="joy_node" name="joy_stick" output="screen" >
    <param name="dev" type="string" value="/dev/input/js0" />
  </node>
  
  <!--joystick to netLoad msg-->
  <node pkg="cabin_teleop" type="t4_controller" name="t4_controller" output="screen" >
  </node>

</launch>
